@import url(../../defaut.css);

.notice {
  width: 100%;
  padding: 100px 0 0 0;
}

@media (max-width: 40rem) {
  .notice {
    padding: 30px 0 0 0;
  }
}

.content {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.content h2 {
  font-family: var(--font-family-1);
  font-size: 2.25em;
  color: var(--color-title);
  font-weight: 700;
}

.title {
  text-align: left;
  margin-bottom: 30px;
}

.nav a:global(:active) {
  color: red;
}
