.search {
  padding: 0 20px;
}
.search form {
  display: flex;
  padding: 20px 0 20px 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.search img {
  padding: 0 20px;
  cursor: pointer;
}

.search button {
  background: none;
  border: none;
}

.search input {
  display: block;
  background: none;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search input::placeholder,
.search input[type="text"] {
  font-family: var(--font-family-2);
  color: #ffff;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.5;
}

.search input[type="text"] {
  opacity: 1;
}
